<!DOCTYPE html>
<html>
  <head>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
       <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </head>

  <style type="text/css">
	
	nav{
		padding-left: 300px;
	}
	.content{
		padding-left: 300px;
		height:100%;
	}

	.card-bg{
		background: rgba(0,0,0,0);
	}

	@media only screen and (max-width: 992px){
		.content,nav{
			padding-left: 0;
		}
	}
	</style>


  <body>

	<script type="text/javascript">
		$(document).ready(function(){
			$('.sidenav').sidenav();
		});
	</script>

	<!-- navbar -->
	<div class="navbar-fixed">
		<nav>
			<div class="nav-wrapper blue">
				<a href="#" class="brand-logo center">Course Dashboard</a>

				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/home1"><i class="material-icons">subdirectory_arrow_left</i></a></li>
				  </ul>
				<a href="" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>		
			</div>
		</nav>
		</div>
		<ul class="sidenav sidenav-fixed bg" id="slide-out">
			<li>
				<div class="user-view">
					<div class="background">
						<img src="" width="100%">
					</div>
					<a href="#"><img src="https://firebasestorage.googleapis.com/v0/b/halogen-parser-145219.appspot.com/o/elearning.png?alt=media&token=76fa0688-7096-427f-be14-fa530809f80e" class="circle"></a>
					
				</div>	
			</li>
			<li><a href="/courses/<%= courses[0].cid %>" class="grey-text"><i class="material-icons">airplay</i>Course Description</a></li>
			<li><a href="/schedule/<%= courses[0].cid %>" class="grey-text"><i class="material-icons">book</i>Course Schedule</a></li>
			<li><a href="/notifications/<%= courses[0].cid %>" class="grey-text"><i class="material-icons">assignment_late</i>Notifications</a></li>
			<li><a href="/mymessages/<%= courses[0].cid %>" class="grey-text"><i class="material-icons">mail</i>Messages</a></li>
			<li><a href="/mystudents/<%= courses[0].cid %>" class="grey-text"><i class="material-icons">child_care</i>Course Students</a></li>
			<li><a href="/shortnotes/<%= courses[0].cid %>" class="grey-text"><i class="material-icons">chrome_reader_mode</i>Post Short Notes</a></li>
			<li><a href="/postnotices/<%= courses[0].cid %>" class="grey-text"><i class="material-icons">chat</i>Post Notices</a></li>
			<li><a href="/videocall/<%= courses[0].cid %>" class="grey-text"><i class="material-icons">devices_other</i>Live Video Call</a></li>
			<li><a href="/updatemycourse/<%= courses[0].cid %>" class="grey-text"><i class="material-icons">edit</i>Update My Course</a></li>

		</ul>


		<!-- content -->

		<div class="content bg">
		<div class="container">
		<div class="row">
			<div class="col s12">
				<h4 class="grey-text"> Course Short Notes</h4>
			</div>


			<div class="col s12 m6 l12">
				<div class="card card-bg grey-text">
					<div class="card-content center">                        
                        <table border="1">
                            <tr>
                                <td>Short Notes</td>
                            </tr>
                            <% for(var i=0; i < notes.length; i++){ %>
                                <tr>
									<td><%= notes[i].note_topic %></td> <br>
                                    <td><%= notes[i].note_desc %></td> <br>
                                </tr>
                            <%  } %>
                        </table>
					</div>
				</div>
			</div>
			

			<div class="col s12 m6 l12">
                
                <div class="card card-bg grey-text">
					<div class="card-content ">                        
                        
						<form method="post">
			 
							  <div class="row">
								<div class="input-field col s12">
									<input id="course_video_link1" type="text" class="validate" name="note_topic">
									<label for="course_video_link1">Note Topic</label>
								  </div>
								<div class="input-field col s12">
								  <input id="course_video_link" type="text" class="validate" name="note_desc">
								  <label for="course_video_link">Note description</label>
								</div>
							  </div>

							<input type="submit" name="" class="waves-effect waves-light grey btn" value="Submit">
						</form>

                    </div>
                </div>

					</div>
				</div>
			</div>
			
		</div>
	
	
  </body>
</html>